@{
    ViewBag.Title = "My Movies";
}

<header>
    <h1>@ViewBag.Title</h1>
</header>

<div id="main-content">
    <section id="movies" data-bind="foreach: movies, visible: movies().length > 0">
        <article class="movie">
            <header>
                <p data-bind="text: title"></p>
            </header>
            <p class="show">
                <a title="View at cinema's website"
                   data-bind="attr: { href: showUrl }, visible: showUrl">I dag 14:30</a>
            </p>
            <a data-bind="visible: imdbUrl, attr: { href: imdbUrl }">View at IMDB</a>
        </article>
    </section>
</div>

@section scripts {
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/movies")
}