@{
    ViewBag.Title = "My Movies";
}

<header>
    <h1>@ViewBag.Title</h1>
</header>

<div id="main-content">
    <section id="moves" data-bind="foreach: movies, visible: movies().length > 0">
        <article class="movie">
            <header>
                <p data-bind="text: title"></p>
            </header>
            <a data-bind="visible: showUrl, attr: { href: showUrl }">View at cinema's website</a>
            <a data-bind="visible: imdbUrl, attr: { href: imdbUrl }">View at IMDB</a>
        </article>
    </section>
</div>

@section scripts {
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/movies")
}